.changePassword__title {
  width: 100%;
  font-size: 30px;
  font-family: "Lovelo", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #37c6da;
  margin: 35px 0;
}
.changePassword__form {
  width: 400px;
  height: 330px;
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 0 0 20px #37c6da;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  position: relative;
  color: #37c6da;
  .changePasswordFormWrap {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  label {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    border-bottom: 2px solid #888888;
    transition: border-bottom 0.4s ease;
    color: #888888;
    &:focus {
      color: #37c6da;
      border-bottom: 2px solid #37c6da;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px black inset;
      box-shadow: 0 0 0 1000px black inset;
      -webkit-text-fill-color: #37c6da;
      -webkit-text-size-adjust: 18px;
    }
  }
}
#changePWForm__changeBtn {
  width: 60%;
  height: 40px;
  border: none;
  font-size: 16px;
  color: #37c6da;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px #37c6da;
  cursor: pointer;
  transition: color 0.4s ease;
  font-weight: bold;
  margin: 15px 0;
  &:hover {
    color: red;
  }
}
