/* 1920*1080 */
@media (min-width: 1440.99px) {
  .backgroundWrap {
    background-image: url(https://velog.velcdn.com/images/kosmosticlay/post/4e1c3401-a4a9-4bb2-b67f-995f308b5709/image.png);
  }
}

/* 1440*900 */
@media (min-width: 1366.99px) and (max-width: 1440px) {
  .backgroundWrap {
    background-image: url(https://velog.velcdn.com/images/kosmosticlay/post/a5b29ac4-af77-494c-918e-330c16298cdb/image.png);
  }
}

/* 1366*768 */
@media (max-width: 1366px) {
  .backgroundWrap {
    background-image: url(https://velog.velcdn.com/images/kosmosticlay/post/996b5a0b-80d9-4724-bf40-8312d47cf65f/image.png);
  }
}

.loginWrap {
  width: 100%;
  height: 100vh;
  background-position: center calc(100% + 70px);
  background-repeat: repeat;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 35px;
  box-sizing: border-box;
  .login__title {
    width: 100%;
    font-size: 30px;
    font-family: "Lovelo", sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #37c6da;
  }
}

#login-form {
  width: 25%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  box-shadow: 0 0 10px #37c6da;
  color: #37c6da;
  padding: 20px 30px;
  box-sizing: border-box;
  .loginFormWrap {
    width: 100%;
    height: 40px;
    background-color: #c51717;
    display: flex;
    align-items: center;
    label {
      width: 100px;
      background-color: #fff;
      font-size: 20px;
      font-weight: bold;
      margin-right: 15px;
    }
    input {
      font-size: 18px;
    }
  }
}

// #login-form input:not([type="submit"]) {
//   width: 300px;
//   height: 40px;
//   background: transparent;
//   border: none;
//   border-bottom: 1px solid white;
//   margin-bottom: 5px;
//   padding-left: 10px;
//   color: white;
//   &:hover {
//     border-bottom: 1px solid yellow;
//   }
//   &:focus {
//     outline: none;
//     border-bottom: 1px solid yellow;
//   }
//   &:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0 1000px black inset;
//     box-shadow: 0 0 0 1000px black inset;
//     -webkit-text-fill-color: white;
//   }
// }

// #login-form input[type="submit"] {
//   width: 315px;
//   height: 40px;
//   margin-top: 5px;
//   &:hover {
//     background-color: aquamarine;
//     color: black;
//   }
// }

// .auth-switch {
//   position: absolute;
//   top: 52%;
//   left: 50%;
//   transform: translate(-50%, -52%);
//   background-color: beige;
// }
