.profileWrap {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  display: flex;
}

.page-sidebar {
  width: 80px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  box-sizing: border-box;
}

.page-sidebar i {
  font-size: 25px;
  color: #37c6da;
  cursor: pointer;
  transition: color 0.4s ease;
  &:hover {
    color: red;
  }
}

.page-sidebar__btnList {
  width: 100%;
  height: calc(100% - 53px);
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.page-sidebar__btnList.hide {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.page-sidebar__btnList i {
  margin-bottom: 50px;
  transition: color 0.4s ease;
  &.fa-arrow-right-from-bracket {
    position: absolute;
    margin-bottom: 0;
    bottom: 25px;
    right: 25px;
  }
  &:hover {
    color: red;
  }
}

.page-content {
  width: calc(100% - 80px);
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* content header */
.page-content__header {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  padding-top: 5px;
  box-sizing: border-box;
}

.page-logo {
  font-family: "Lovelo", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: red;
}

.page-greeting {
  font-family: "Lovelo", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #37c6da;
}

/* content main */
.page-content__main {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content__main__profile {
  width: 300px;
  height: 300px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #37c6da;
}

.profile__userTitle {
  width: 100%;
  font-size: 30px;
  font-family: "Lovelo", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #37c6da;
  .userProfile__title {
    margin-right: 15px;
  }
  .fa-pen {
    font-size: 20px;
    cursor: pointer;
  }
}

.profile__frame {
  width: 160px;
  height: 160px;
  border: 3px solid #37c6da;
  border-radius: 100px;
  box-shadow: 0 0 20px #37c6da;
  background-color: #fff;
  margin: 20px 0;
}

.profile-editBtn {
  width: 50px;
  height: 50px;
}

/* content user-videos */
.page-content__user-videos {
  width: 80%;
  height: calc(100vh - 370px);
  margin-top: 30px;
}

.page-content__user-videos > span {
  color: #37c6da;
  font-size: 25px;
  font-family: "Lovelo", sans-serif;
  font-weight: 900;
  text-decoration: underline;
}

.video-grid.profile__video-grid {
  width: 70%;
  height: 220px;
  top: 450px;
  overflow: scroll;
}
