.social-login {
  width: 315px;
  height: 40px;
  margin-top: 10px;
  padding: 10px 0;
  color: yellow;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  .social__btn--github {
    background-color: transparent;
  }
}
