extends page-base

block content
    div.page-content__main
        div.page-content__main__profile.edit-profile__main__profile
            div.profile__userTitle
                span Edit profile
            img(src="/" + loggedInUser.avatarUrl).profile__frame
            a(title="Click if you need to change your avatar!😉").editProfileBtn
                i.fa-solid.fa-pen
        form(method="POST", enctype="multipart/form-data").edit-profile__form.userInfo__form
            input(type="file", id="avatar", name="avatar", accept="image/*")
            input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
            input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
            input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
            input(placeholder="Location", name="location", type="text", required, value=loggedInUser.location)
            input(type="submit", value="Update Profile")
            if !loggedInUser.socialOnly
                a(href="change-password" title="Click if you need to change your password!😉").editPasswordBtn
                    i.fa-solid.fa-lock
