extends base

block content
    if errorMessage 
        span=errorMessage
    div.backgroundWrap
        div.joinWrap
            div.join__title
                span Join
            form(id="join-form" method="POST")
                div.joinFormWrap
                    label(for="join-form__email") Email 
                    input(id="join-form__email", name="email", type="email", required, placeholder="Email")
                div.joinFormWrap
                    label(for="join-form__username") Username
                    input(id="join-form__username" name="username", type="text", required, placeholder="Username")
                div.joinFormWrap
                    label(for="join-form__name") Name
                    input(name="name", type="text", required, placeholder="Name") 
                div.joinFormWrap
                    label(for="join-form__password") PW
                    input(name="password", type="password", required, placeholder="Password") 
                div.joinFormWrap
                    label(for="join-form__password2") Confirmed PW
                    input(name="password2", type="password", required, placeholder="Confirmed Password") 
                div.joinFormWrap
                    label(for="join-form__location") Location
                    input(name="location", type="text", required, placeholder="Location")
                input(id="join-form__joinBtn", value="Join", type="submit")
