extends ../page-base

block content
    if errorMessage
    span=errorMessage
    div.page-content__main
        div.changePassword__title
            span Change Password
        form(method="POST").changePassword__form
            div.changePasswordFormWrap
                label(for="changePWForm__old") Old Password
                input(placeholder="Old Password",type="password", name="oldPassword")
            div.changePasswordFormWrap
                label(for="changePWForm__new") New Password
                input(placeholder="New Password",type="password", name="newPassword")
            div.changePasswordFormWrap
                label(for="changePWForm__confirmed") Confirmed Password 
                input(placeholder="New Password Confirmation",type="password", name="newPasswordConfirmation")
            input(id="changePWForm__changeBtn", value="Change Password", type="submit")