extends ../page-base

block content
    if errorMessage
    span=errorMessage
    div.page-content__main
        div.profile__userTitle.changePassword__title
            span Change Password
        form(method="POST").userInfo__form.changePassword__form
            input(placeholder="Old Password",type="password", name="oldPassword")
            input(placeholder="New Password",type="password", name="newPassword")
            input(placeholder="New Password Confirmation",type="password", name="newPasswordConfirmation")
            input(value="Change Password", type="submit")