extends ../page-base
include ../mixins/video

block content
    div.page-content__main
        div.page-content__main__profile
            if loggedIn
                div.profile__userTitle 
                    span.userProfile__title My Profile
                    a(href=`/users/edit`) 
                        i.fa-solid.fa-pen
            else
                span.profile__username #{user.name}'s Profile
            img(src="/" + user.avatarUrl).profile__frame
            span @#{user.username}
        div.page-content__user-videos
            if loggedIn
                span My videos
            else
                span #{user.name}'s videos
        div.video-grid.profile__video-grid
            div.video-grid
                each video in user.videos 
                    +video(video)
                else
                    span.empty__message No videos found
block scripts 
    script(src="/static/js/videoGrid.js")